<html>
    <head></head>
    <body>
    <h1><%= @posts.tags %></h1>
    <p>
        Post title:
        <h3><%= @posts.title %></h3>
        Content:
        <h3><%= @posts.content %></h3>
    </p>
</html>